@import url('https://fonts.googleapis.com/css2?family=Anton&family=Pathway+Gothic+One&display=swap');

html {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1C1C1C;
}

h1 {
    color: rgba( 240, 248, 255, 1 );
    text-align: center;
    font-family: 'Anton', sans-serif;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.sectionCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card {
    width: 300px;
    height: 200px;
    border: 8px ridge rgba(255, 127, 80, 1 );
}

h3 {
    color: aliceblue;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: 'Anton', sans-serif;
    font-size: 1.2rem;
}

p {
    color: aliceblue;
    text-align: center;
}

button {
    border: none;
    border-radius: 3px;
    padding: 5px;
    background: rgb(251,213,63);
    background: radial-gradient(circle, rgba(251,213,63,1) 0%, rgba(227,58,9,1) 45%);
    margin-top: 8px;
    color: #A9A9A9;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
}